header {
  font-size: 30px;
}

html, body { 
  height: 100%;
  padding-top: 2rem;
  padding-bottom: 4rem;
  padding-right: 4rem;
  padding-left: 4rem;
  background-color: #000000;
  color: #ffffff;
}

textarea {
  font-family: "Tahoma", "Geneva", sans-serif;
  font-size: 1.5em;
  line-height: 1.3em;
  width: 100%; 
  outline: none; 
  border-style: none; 
  border-color: transparent;
  overflow: auto;
  height: 100%;
    background-color: #000000;
  color: #ffffff;
}
